@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
  background-color: #03906a;
  font-family: 'Arvo', serif;
}

.App {
  text-align: center;
  color: #fff;
  padding: 20px;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.Bold {
  font-weight: 600;
  font-size: 1.5rem;
}

.Title {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.ButtonArea {
  margin-top: 10px;
}

#submit {
  color: #fff;
  font-weight: 500;
  font-family: 'Arvo', serif;
  background-color: #26b58f;
  width: 250px;
}

.Footer {
  margin-top: 20px;
  font-size: 0.8rem;
}
